files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/70_setup_mysql_server.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      service mysqld stop
      echo '# Produced by appdeploy/post/70_setup_mysql_server.sh'>>/etc/my.cnf
      echo '## 70-SETUP-MYSQL'>>/etc/my.cnf
      echo '[mysqld]'>>/etc/my.cnf
      echo 'innodb_buffer_pool_size=5242880'>>/etc/my.cnf
      echo '## 70-SETUP-MYSQL'>>/etc/my.cnf
      service mysqld start

