files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/90_adjust_httpdconf.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
	  service httpd stop
	  echo '# Produced by appdeploy/post/90_adjust_httpdconf.sh'>>/etc/httpd/conf/httpd.conf
	  echo '## 90-ADJUST-START'>>/etc/httpd/conf/httpd.conf
	  echo '<IfModule alias_module>'>>/etc/httpd/conf/httpd.conf
	  echo 'Alias "/JQueryMobile_1_4_5" "/var/www/html/JQueryMobile_1_4_5"'>>/etc/httpd/conf/httpd.conf
      echo 'Alias "/JQuery_1_12_4" "/var/www/html/JQuery_1_12_4"'>>/etc/httpd/conf/httpd.conf
	  echo '</IfModule>'>>/etc/httpd/conf/httpd.conf
	  echo '## 90-ADJUST-END'>>/etc/httpd/conf/httpd.conf
	  service httpd start

